.btn-core, .btn-core:focus, .btn-core:hover{
    color: #fff;
}
.modal-content{
    padding: 40px;
    display: inline-block
}
.modal-popup a.close-link {
    font-size: 22px;
    position: absolute;
    top: 20px;
    right: 30px;
    border-bottom: 0;
}
/* You can change the height of the carousel by changing the height in the class below. It is set to 50% by default, but can be any height! */
.carousel {
/*    border-top: solid 10px #ebb0aa;
    border-bottom: solid 10px #ebb0aa;*/
    z-index: 0;
    height: 550px;
}
.gradient{
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #ebb0aa); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #ebb0aa); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #ebb0aa); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #ebb0aa); /* Standard syntax */
}
.gradient-bottom{
    background: #ebb0aa; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ebb0aa, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ebb0aa, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ebb0aa, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ebb0aa, white); /* Standard syntax */
}
.item,
.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */
.jcarousel{
    padding-bottom: 10px;
    padding-top: 10px;
}
.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.jcarousel-wrapper {
    position: relative;
}


/** Carousel Controls **/

.jcarousel-control-prev, .jcarousel-control-prev-n,
.jcarousel-control-next , .jcarousel-control-next-n {
    position: absolute;
    bottom: -20px;
    /*margin-top: auto;*/
    width: 30px;
    height: 30px;
    text-align: center;
    /*background: #4E443C;*/
    color: #006e81;
    text-decoration: none;
    text-shadow: none;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow:none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.jcarousel-control-prev{
    /*left: 830px;*/
}
.jcarousel-control-next {
    right: -50px;
}
.jcarousel-control-prev-n {
    left: -65px;
    top: 162px;
}
.jcarousel-control-next-n {
    right: -50px;
    top: 162px;
}    



/** Carousel Pagination **/
.jcarousel-pagination {
    display: none;
    position: absolute;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
    left: initial;
    bottom: -10px;
    right: -20px;
    a {
        text-decoration: none;
        display: inline-block;
        font-size: 11px;
        height: 10px;
        width: 10px;
        line-height: 10px;
        background: #d2d2d2;
        color: #4E443C;
        border-radius: 10px;
        text-indent: -9999px;
        margin-right: 7px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    a.active {
        background: #01adc5;
        color: #d2d2d2;
        opacity: 1;

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}


.carousel-control .icon-prev:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    width: 35px;
    height: 141px;
    margin-top: -70px;
    background: url("/bundles/front/images/bracket.svg");
    opacity: 0.15;
}
.carousel-control .icon-next:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    width: 35px;
    height: 141px;
    margin-top: -70px;
    background: url("/bundles/front/images/bracket.svg");
    opacity: 0.15;
    transform: scaleX(-1);
    right: 0;
}
.carousel-caption{
    text-shadow: none;
    top: 130px;
    h2{
        font-size: 2em;
        line-height: 1.5em;
        letter-spacing: 4px;    
    }
    
}

#menu-blog{
    position: relative;
    background: #fff;
    text-align: center;
    .container{
        padding: 0;
        .subcategory-container{
            padding: 0px;
            border-bottom: solid 1px #ddd;
            >a{
                padding: 10px;
                border-bottom: 0;
                text-decoration: none;
            }
            >a:hover{
                padding: 10px;
                text-decoration: none;
            }

        }
    }
   
}
.tags{
     
    margin: 0px;
    padding: 0px;
    a{
        padding: 0;
        float: none;
    }
}
.post-categories, .commentMobile{
    margin: 0px;
}
.comments{
    padding:0px;
    .singleComment > div:last-child{
        padding-left: 10px;
    }
    .singleComment > div:first-child img {
        width: 100%
    }
    #comment_front_name{
        width: 49%;
        display: inline-block;
    }
    #comment_front_email{
        width: 49%;
        display: inline-block;
        float: right;
    }
    #comment_front_comment{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}
.profile {
    margin: 0px;
    h3 {
        margin: 25px 0 20px 0px;
        color: #555;
    }
    .profile-img {
        text-align: center;
        img {
            width: 130px;
            border-radius: 100px;
        }
    }
    .paddingForFloat{
        padding: 0px 0px 0 15px;
    }
    .borderMenuProfile {
        margin-top: 0px;
        border-top: 1px solid #d2d2d2;
    }
    .profile-content{
        p {
            margin: 0 0 10px;
        }
    }
    .account, .edit_account, .edit_pass{
        margin-top: 40px;
        a, a:hover{
            border-bottom: 0px;
        }
    }
    #edit{
        margin-bottom: 5px;
        margin-top: 10px;
        display: block;
    }
    .edit_account, .edit_pass{
        display: none;
        p{
            margin-bottom: 5px;
            b{
                width: 150px;
                display: inline-block;
            }
        }
    }
    .profile-back, #back_pass{
        display: inline-block!important;
    }
    .edit_pass p b{
        width: 200px;
    }
    
    input,  select, textarea {
        width: 250px;
        padding: 0 10px;
        border-radius: 4px;
        color: #878586;
        border: 1px solid #01bbd0;;
    }
}
.profile > * {
    padding: 0px 15px;
}
input[type="text"],input[type="password"],input[type="email"],select{
    height: 40px;
    font-size: 16px;
}
.container-register{
    .row {
        margin: -50px 0 -1px -50px;
        h2, hr{
            float: none;
        }
        hr{
            margin: 0px!important;
            padding: 0px!important;
        }
        .container-register-form{
            width: 100%;
            .register-form{
                >div{
                    padding: 0px 10px 0px 0px;
                }
                >div.last{
                    padding-right: 0px;
                }
                .form-group ul{
                    list-style: none;
                    background-color: #d3423d;
                    margin-bottom: 0px;
                    padding: 5px 10px;
                    color: #ecf0f1;
                }
                .form-group>label{
                    display: none;
                }
                
                .icheckbox_minimal-blue.checked {
                    background-position: -41px -1px;
                }
                .icheckbox_minimal-blue {
                    background-position: 0 0;
                    margin-right: 10px;
                }
                .icheckbox_minimal-blue{
                    background-color: #fff;
                    border: 1px solid #00adc6;
                }
                .checkboxes{
                    text-align: left;
                }
                #register-button-submit{
                }
            }
        }
    }
}
.container-recovery > * {
    padding: 0px 15px;
    float: none;
}
.container-recovery{
    margin: 0;
    input{
        margin-bottom: 10px;
    }  
} 

.dropotron.level-0 {
    margin-left: -1em;
}
.dropotron.level-0:before {
    /*right: 9.25em;*/
    left: 1.25em
}
.dropotron.level-0:after {
    /*right: 9.25em;*/
    left: 1.25em
}
#returnMessage{
    width: 100%;
    .close{
        color: #000 !important;
        box-shadow: none;
        padding: 4px;
    }
}
.container-language{
    right: 0;
    position: absolute;
    top: -50px;
    a{
        cursor: pointer;
        border-bottom: 0;
    }
}
.center{
    text-align: center; 
}
.social-login-button{
    padding: 0;
    width: 100px;
    margin-right: 4px;
    margin-bottom: 10px;
    .btn{
        padding: 6px 6px;
        width: 100%
    }
}
.oauth-label{
    font-size: 12px;
}
/*Login*/
form[name="login"]{
    .added{
        div{
            padding-left: 0;
        }
        .pull-left{
            text-align: left;
        }
    }
}
form[name="registration"]{
    .checkboxes{
        text-align: left;
    }
}
.access, .profile-menu{
    margin-right: 20px;
    color:#ebb0aa;
    float: left;
    font-size: 16px;
    line-height: 35px;
    >div.btn-group{
        float: left;
        margin-left: 0;
    }
    >div>button{
        padding: 0px 20px;
        font-size: 14px;
    }
}
.container-login, .container-recovery{
    padding: 0;
    h2{
        text-align: center; 
    }
    .added > div{
        padding-left: 0;
    }
}

.container-profile .tabs-content .tab-content form label {
    padding: 5px 15px!important;
}

.blog{
    #main-wrapper{
        padding: 0px;
    }
    #post-list{
        article{
            display: inline-block;
            margin-bottom: 0px;
            h2{
                letter-spacing: 2px;
                margin: 0 0 0.5em 0;
                line-height: 1.25em;
            }
            .img-responsive{
                width: 25%;
                display: inline-block
            }
            .post-content{
                display: inline-block;
                width: 75%;
                float: right;
                padding: 0 20px;
            }
        }
    }
}

.panel-primary{
    border-color: #F1A688;
    .panel-heading{
        background-color: #F1A688;
        border-color:#EE906A;
        h4{
            color: #fff;
        }
    }
}
.btn-primary{
    border-color: #EE906A;
    background-color: #F1A688;
}
.btn-primary:hover{
    background-color: #EE906A;
    border-color: #EE906A;
    
}
.img-responsive{
    float: left;
}